.main-rocket {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rocket-img {
  width: 30%;
}

.main-img {
  width: 100%;
}

.rocket-info {
  width: 70%;
}

.rocket-name {
  margin-top: 0;
}

.rocket-action {
  background: #007bff;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
}
