:root {
  --navcolor: rgb(43, 53, 238);
}

a {
  text-decoration: none;
  color: var(--navcolor);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2px 60px;
  flex: 1;
}

.logo-pic {
  align-self: center;
  width: 52px;
  height: 62px;
}

.logo-wrap {
  display: flex;
  width: 24%;
  justify-content: space-around;
}

.navlink-wrap {
  display: flex;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

nav a.active {
  text-decoration: underline;
}
